@font-face {
  font-family: 'CircularStd';
  font-weight: 400;
  font-style: normal;
  src: local('CircularStd'), url('CircularStd-Book.otf') format('opentype');
}

@font-face {
  font-family: 'CircularStd';
  font-weight: 500;
  font-style: normal;
  src: local('CircularStd'), url('CircularStd-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'CircularStd';
  font-weight: 700;
  font-style: normal;
  src: local('CircularStd'), url('CircularStd-Bold.otf') format('opentype');
}

*Event Section */ .main-top {
  display: flex;
  width: 100%;
}
.main-top i {
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(110, 109, 109);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.event-type-box {
  width: 17%;
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.main-block {
  width: 45%;
  height: 470px;
  margin: 10px;
  background: #fff;
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.text-field {
  width: 90%;
  height: 4vh;
  border-radius: 6px;
  padding-left: 20px;
  margin-bottom: 30px;
  margin-left: 30px !important;
}
.dummy-div {
  margin: 40px 0px;
}
.dummy {
  margin: 40px 20px 40px 60px;
}
.date-picker {
  padding-left: 70px;
  width: 30px;
}

.end-date {
  margin-left: 30px;
}
.css-4jnixx-MuiStack-root > :not(style) ~ :not(style) {
  margin-left: 120px !important;
}
.main-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.right-block {
  width: 45%;
  height: 70vh;
  margin: 10px;
  background: #fff;
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 70%;
  background-color: #f8fafb;
  border-radius: 3%;
  width: 100%;
  height: 95%;
  margin: 5px;
}
/* .card {
  width: 18%;
  height: 30%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  
  border-radius: 11%;
  background-color: #a0f3f3;
  padding: 10px;
} */

.card h5 {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100px;
  white-space: nowrap;
}
.add-btn {
  position: relative !important;
  top: 28% !important;
  width: 18% !important;
  left: 36% !important;
  height: 10%;
  border-radius: 46px;
  background-color: #9080ef;
}
/* card */
.card {
  width: 159px;
  height: 204px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 0.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  margin: 23px 10px 15px 15px;
}

.card-details {
  color: black;
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
}

.card-button {
  transform: translate(-50%, 125%);
  width: 100%;
  border-radius: 1rem;
  border: none;
  background-color: #bcc3c9;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.text-body {
  color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
  font-size: 1.2em;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100px;
  white-space: nowrap;
}

/*Hover*/
.card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}
/*  */
/* Dashboard section */

.main-body {
  width: 100%;
  /* padding: 2rem; */
}
.promo-container {
  display: flex;
  flex-direction: row;
}
.promo_card {
  width: 75%;
  color: #fff !important;
  margin-top: 10px;
  border-radius: 8px;
  padding: 0.5rem 1rem 1rem 3rem;
  background: #5fadb7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content {
  padding: 33px 0;
}
.girl-logo {
  width: 300px;
  height: 200px;
  background-image: url('../girllogo.png');
  background-repeat: no-repeat;
}
.promo_card .content h1,
.promo_card .content span {
  margin: 10px;
  font-size: 1rem;
}
.promo_card .content h1 {
  font-size: 3rem;
}

.notice-box {
  width: 20%;
  color: #fff !important;
  margin: 10px 0px 0px 54px;
  border-radius: 8px;
  padding: 0.5rem 1rem 1rem 1rem;
  background: #5fadb7;
  justify-content: space-between;
}
.notice-box h3 {
  padding: 1px;
}
.notice-content {
  width: 96%;
  height: 60%;
  background-color: #e7edf6;
  border-radius: 5%;
  margin: 2%;
  color: orange;
  padding: 10px;
}
.notice-content p {
  padding: 0;
  /* text-orientation: upright;
  -moz-animation: marquee 10s linear infinite;
  -webkit-animation: marquee 10s linear infinite; */
  /* animation: marquee 10s linear infinite; */
}
@-moz-keyframes marquee {
  0% {
    transform: translateY(90px);
  }
  100% {
    transform: translateY(-90%);
  }
}
@-webkit-keyframes marquee {
  0% {
    transform: translateY(90%);
  }
  100% {
    transform: translateY(-90%);
  }
}
@keyframes marquee {
  0% {
    -moz-transform: translateY(90%);
    -webkit-transform: translateY(90%);
    transform: translateY(90%);
  }
  100% {
    -moz-transform: translateY(-90%);
    -webkit-transform: translateY(-90%);
    transform: translateY(-90%);
  }
}
.history_lists {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 33px;
  justify-content: space-around;
}
.row {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 1rem 0;
}
table {
  background: #fff;
  padding: 1rem;
  text-align: left;
  border-radius: 10px;
}
table td,
th {
  padding: 0.2rem 0.8rem;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100px;
  white-space: nowrap;
}
table th {
  font-size: 18px;
}
table td {
  font-size: 13px;
  color: rgb(100, 100, 100);
}
.list1 {
  max-height: 70%;
}
.list2 {
  margin-left: 30px;
}
.css-172kpif-MuiResponsiveChart-container > svg {
  width: 87% !important;
  margin-top: 20px !important;
  height: 90% !important;
}

/* Profile page */

.profile-main-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* height: 90vh; */
}
.profile-left-block {
  width: 28%;
  padding: 20px;
  background-color: #edf2f0;
  border-radius: 70px;
  margin: 30px;
}
.profile-right-block {
  width: 70%;
  padding: 70px;
  background-color: #bcb8ea;
  border-radius: 70px;
  margin: 30px;
}
.profile-logo {
  width: 60%;
  /* height: 300px; */
  margin: 30px 19%;
  border-radius: 135px;
}
.profile-des {
  margin: 15px 19%;
  padding: 20px;
}
.profile-des h3 {
  font-size: 25px;
}
.profile-des h4 {
  font-size: 20px;
  font-weight: 500;
  color: #5e5f61;
}
.edit-btn-block {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.edit-btn {
  width: 114px !important;
  height: 40px !important;
  margin: 3% !important;
}
.details {
  width: 100%;
  padding: 21px;
  background-color: #e5f2ed;
  border-radius: 50px;
  margin: 10px;
}
.text-field-details {
  width: 45% !important;
  padding: auto !important;
}
.first-line,
.second-line,
.third-line,
.forth-line,
.fifth-line {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1%;
}
.sixth-line {
  padding: 1%;
  margin-left: 10%;
}
.bio-text-field {
  width: 90% !important;
  padding: auto !important;
}
.role-drop-down {
  width: 45% !important;
  padding: auto !important;
}
.update-btn-block {
  width: 90%;
  padding: 2% 28%;
  margin-left: 5%;
}
.update-btn {
  width: 200px !important;
  height: 50px !important;
}
.bio-block {
  margin: 25px 0 !important;
  font-size: 200px;
  width: 110%;
}

/* btn animation */
/* 
.button {
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.6em 2em;
  border: mediumspringgreen solid 0.15em;
  border-radius: 0.25em;
  color: mediumspringgreen;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;

}

.button p {
  z-index: 1;
}

.button:hover {
  color: #212121;
}

.button:active {
  border-color: teal;
}

.button::after,
.button::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: mediumspringgreen;
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

.button::before {
  left: 0;
  transform: translateX(-8em);
}

.button::after {
  right: 0;
  transform: translateX(8em);
}

.button:hover:before {
  transform: translateX(-1em);
}

.button:hover:after {
  transform: translateX(1em);
}

.button:active:before,
.button:active:after {
  background: teal;
} */

/* end file */
